
.promo-slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

/* Contenedor de las imágenes dentro de promo-slider */
.promo-slider .slider-imagesPromo {
    display: flex;
    transition: margin-left 1s ease;
    width: calc(300px * 3);
}

/* Imágenes del slider */
.promo-slider .slider-imagesPromo img {
    width: 800px; 
    height: 500px;
    display: block;
    object-fit: cover;
}

/* Botones de navegación específicos para promo-slider */
.promo-slider .promo-prev,
.promo-slider .promo-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 10; /* Asegura que los botones estén sobre las imágenes */
}

/* Botón previo específico para promo-slider */
.promo-slider .promo-prev {
    left: 10px; /* Posición izquierda fuera del contenedor */
}

/* Botón siguiente específico para promo-slider */
.promo-slider .promo-next {
    right: 10px; /* Posición derecha fuera del contenedor */
}

/* Efectos hover en los botones */
.promo-slider .promo-prev:hover,
.promo-slider .promo-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Hace el fondo más oscuro al pasar el cursor */
}
