@charset "utf-8";
/* CSS Document */

.slider {
    width: 300px;
    height: 430px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.slider-images {
    display: flex;
    transition: margin-left 1s ease;
    width: calc(300px * 6);
}


.slider-images img {
    width: 300px;
    height: 430px;
    display: block;
    object-fit: cover;
}

.slider button {
	position: absolute;
	top: 211px;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}


.slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider button.prev {
	left: 2px;
}

.slider button.next {
	right: -2px;
}
